.tile-desc {
  font-style: italic;
  font-weight: 500;
}

.tile-content {
  align-items: center;
  display: flex;
  flex-direction: row;

  .tile-writing {
    flex-grow: 2;
    width: 66.66%;
    margin-left: 20px;
  }

  .img {
    width: auto;
    flex-grow: 2;
    width: 33.33%;

    img {
      height: auto;
      max-height: 300px;
      width: 100%;
    }
  }
}

.case-study.prj-tongle {
  .tile-writing {
    order: 2;
  }

  .img {
    order: 1;
  }
}

.case-study.prj-covid {
  color: white;
  h3 {
    color: white
  }
  .tile-content {
    flex-direction: column;
  }

  .tile-writing, .img {
    width: 100%;
  }

  .img {
    max-width: 300px;
  }
}

.case-study {
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: unset;

  h2, h3 {
    padding: 0px;
    margin: 0px;
  }

  h2 {
    font-size: 2.2rem;
  }

  .h3 {
    font-style: italic;
    font-weight: 300;
  }

  p, .tile-discipline {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  img {
    width: 100%;
  }

  button {
    background: unset;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 4px;
  }
}

.project-tile-link {
  text-decoration: unset;
  color: black;
}

.case-study-wrapper {
  height: 85vh;
  max-height: 500px;
}
