// $fs: 1.4rem;
// $golden-ratio: 1.618;

.about {
  min-height: 100vh;
  p {
    font-size: 1rem;
    line-height: calc(var(--fs) * var(--golden));
  }

  h2 {
    font-weight: 00;
    line-height: 2rem;
  }

  .about-content {
    max-height: 80vh;
    overflow:scroll;
  }


  .about-image {
    width: 100%;
    max-width: 400px;
    height: inherit;
    // border-radius: 50%;
  }
}