.project-grid {
  display: grid;
  // min-height: 500px;
  // max-height: 600px;
  height: auto;
  margin-bottom: 200px;

  gap: 1rem;

  grid-template-columns:
  [start] 1fr
  [first] 1fr
  [second] 1fr
  [third] 1fr
  [end];

grid-template-rows:
  [start] auto
  [first] auto
  [second] auto
  [third] auto
  [end];
}

@media only screen and (max-width: 750px) {
  .project-grid {
    display: flex;
    flex-direction: column;
  }
}

.project {
  background: #f2f0e6;
}

.project-0 {
  grid-column-start: start;
  grid-column-end: second;
  grid-row-start: start;
  grid-row-end: second;
  height: 150px;
  
  order: 0;
}

.project-1 {
  grid-column-start: second;
  grid-column-end: end;
  grid-row-start: start;
  grid-row-end: second;
  height: 150px;
  
  order: 3;
}

.project-2 {
  grid-column-start: start;
  grid-column-end: second;
  grid-row-start: second;
  grid-row-end: third;

  order: 2;
}

.project-3 {
  grid-column-start: start;
  grid-column-end: second;
  grid-row-start: third;
  grid-row-end: end;

  order: 2;
}

.project-4 {
  grid-column-start: second;
  grid-column-end: end;
  grid-row-start: second;
  grid-row-end: third;

  order: 6;
}

.project-5 {
  grid-column-start: second;
  grid-column-end: end;
  grid-row-start: third;
  grid-row-end: end;

  order: 6;
}
