.cls-1 {
  stroke-dasharray: 0 0 5 4;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8 {
  fill: none;
  stroke-miterlimit: 10;
}

.cls-1, .cls-3, .cls-6, .cls-7 {
  stroke: #92278f;
}

.cls-1, .cls-7 {
  stroke-width: 3.5px;
}

.cls-9 {
  letter-spacing: -.05em;
}

.cls-10 {
  letter-spacing: -.02em;
}

.cls-11 {
  letter-spacing: -.02em;
}

.cls-12 {
  letter-spacing: -.03em;
}

.cls-13 {
  font-family: AvenirNext-DemiBold, 'Avenir Next';
  font-size: 30.23px;
  font-weight: 300;
}

.cls-13, .cls-14, .cls-15 {
  fill: #58595b;
}

.cls-16 {
  letter-spacing: 0em;
}

.cls-17 {
  letter-spacing: 0em;
}

.cls-2 {
  stroke-dasharray: 0 0 1.99 1.99;
}

.cls-2, .cls-5 {
  stroke: #58595b;
}

.cls-18 {
  letter-spacing: -.02em;
}

.cls-3, .cls-6 {
  stroke-width: 2px;
}

.cls-4 {
  stroke: #939598;
}

.cls-14 {
  font-size: 18px;
}

.cls-14, .cls-19, .cls-15 {
  font-family: AvenirNext-Medium, 'Avenir Next';
  font-weight: 500;
}

.cls-19 {
  fill: #6d6e71;
}

.cls-19, .cls-15 {
  font-size: 16px;
}

.cls-20 {
  letter-spacing: 0em;
}

.cls-6 {
  stroke-dasharray: 0 0 4.96 3.96;
}

.cls-21 {
  fill: #231f20;
  font-family: MyriadPro-Regular, 'Myriad Pro';
  font-size: 14px;
}

.cls-22 {
  letter-spacing: -.03em;
}

.cls-23 {
  fill: #fff;
  opacity: .64;
}

.cls-24 {
  letter-spacing: 1.16em;
}

.cls-8 {
  stroke: #e6e7e8;
  stroke-width: .5px;
}