header { 
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;

  .header-heading {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
  }

  .action-wrapper {
    z-index: 100;
  }
  .actions {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    z-index: 100;

    .action {
      margin: 0px 5px;
      padding: 0px 5px;
    }
  }
}

.header-link {
  color: var(--grey);
  text-decoration: unset;
  font-weight: 500;
  &:hover {
    transition: 500ms;
    color: black;
  }
}

.home-link {
  text-decoration: unset;
  // color: var(--blueish);
  color: var(--black);
}

.header-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: white;

 .home-link {
    color: white;
  }
  
  .header-link {
    color: white;
  }
}