header, footer { 
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;

  .header-heading {
    color: var(--grey);
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
  }

  .action-wrapper {
    z-index: 100;
  }
  .actions {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    z-index: 100;

    .action {
      margin: 0px 5px;
      padding: 0px 5px;
    }
  }
}

// .header-link {
//   color: var(--grey);
//   text-decoration: unset;
//   font-weight: 500;
//   &:hover {
//     transition: 500ms;
//     color: black;
//   }
// }

.home-link {
  text-decoration: unset;
  // color: var(--blueish);
  color: var(--black);
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: white;

 .home-link {
    color: white;
  }
  
  .header-link {
    color: white;
  }
}

.footer {
  height: 40px;
  color: var(--grey);
  font-size: 0.8rem;
  margin: auto;
}


.header-link{
  position: relative;
  color: var(--grey);
  text-decoration: none;
  font-weight: 500;
}

// .header-link:hover {
//   transition: 500ms;
//   color: var(--grey);
//   opacity: 0.8;
// }


.active-header-link {
  .header-link {
    color: var(--grey);;
  }
}

.header-link:before, .header-link:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  top: 50%;
  margin-top: -0.5px;
  background: var(--light-grey);;
}

.header-link:before {
  left: -2.5px;
}

.header-link:after {
  right: 2.5px;
  background: var(--black);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.header-link:hover:before {
  background: var(--black);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.header-link:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
