$fs: 2rem;
$golden: 1.618;

.project-links {
   li {
    display: inline-block;
  }
  font-weight: 600;
  overflow: auto;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 100px auto;

  .link {  
    font-size: $fs; 
    line-height: $golden; 
  }


  .nav-link, .link{
    position: relative;
    color: var(--light-grey);
    text-decoration: none;
    font-weight: 500;
  }

  .nav-link:hover {
    transition: 500ms;
    color: black;
  }

  .active-link {
    .nav-link {
      color: black;
    }
  }
}
