.content {
  @extend .margin-20 !optional;
  
  max-width: 800px;
}

.cover1-img {
  height: auto;
  width: 100%;
}

.cover2 {
  display: flex;

  img {
    display: block;
    flex-basis: 2;
    width: 100%;
  }
}

.overview > * {
  width: 50%;
}

.overview {
  display: flex;
  flex-direction: row;
  min-height: 400;

  .overview-title {
    h1 {
      margin: 0;
    }
  }

  .overview-description {
    padding: 20px;
    background: #f2f0e6;
    color: #353e58;

    .overview-name {
      margin: 0;
      font-weight: 700;
    }
  }

}