.content {
  @extend .margin-20 !optional;

  p {
    font-size: 1.4rem;
    line-height: calc(var(--fs) * var(--golden));
  }

  h2 {
    font-weight: 500;
    line-height: 4rem;
  }
}

.video-wrapper {
  aspect-ratio: 2 / 1;
}

.fullsize-img {
  height: auto;
  width: 100%
}

.cover-1-img {
  @extend .fullsize-img;

  aspect-ratio: 16 / 9;
}

.cover-2-img {
  display: block;
  width: 50%;
  max-width: 100%;
  display: block;
}

.cover2 {
  display: flex;
  max-width: 100%;

  img {
    @extend .cover-2-img;
  }
}

.overview > * {
  width: 50%;

  img {
    height: 17px;
    position: relative;
    top: 2px;
  }
}

.overview {
  display: flex;
  flex-direction: row;
  min-height: 400;
  margin-bottom: 80px;

  .award {
    height: 0.75rem;
  }

  .overview-title {
    position: relative;
    h1 {
      margin: 0;
    }

    .overview-button-container {
      position: absolute;
      bottom: 0px;
    }
  }

  .overview-description {
    color: #353e58;
    background: #f2f0e6;
    padding: 15px;

    .overview-name {
      font-weight: 700;
      margin: 0;
    }

    .overview-item {
      display: inline-block;
      margin: 2px auto;
    }
  }


}

.writeup {
  max-width: 800px;
  margin: 20px auto;

  p {
    font-size: 1.25rem;
    line-height: 1.7rem;
  }
}


// temp
table, th, td {
  border: 1px solid;
}